<div class="page-container">
    <div class="section-header">
        <h1 class="section-title">
            SKILLS
        </h1>
    </div>

    <div class="content">
        <table class="table is-fullwidth">
            <div class="tbody">
                <tr *ngFor="let skillLevel of skillLevels">
                    <td class="has-text-centered" style="vertical-align: middle !important;">
                        <div class="skill-bar-container">
                            <div class="skill-bar" *ngFor="let number of [].constructor(5); let i=index;">
                                <div *ngIf="i < skillLevel.level" class="filled"></div>
                                <div *ngIf="i >= skillLevel.level" class="empty"></div>
                            </div>
                        </div>
                    </td>
                    <td class="has-text-centered" style="vertical-align: middle !important; font-size: 16px;">
                        {{skillLevel.title}}
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let description of skillLevel.description" style="font-size: 16px;">{{description}}</li>
                        </ul>
                    </td>
                </tr>
            </div>
        </table>
        <mat-divider></mat-divider>
        <div class="card" *ngFor="let skill of skills" style="margin-top: 30px; border-radius: 0px;">
            <div class="card-header">
                <div class="card-header-title card-title">
                    {{skill.category}}
                </div>
            </div>
            <div class="card-content">
                <div class="content">
                    <div class="columns">
                        <div class="column" *ngFor="let col of [].constructor(5); let i=index;">
                            <div *ngFor="let skillContent of skill.contents; let j=index;">
                                <div *ngIf="j%5 == i" class="flex-column-center">
                                    <figure class="image is-96x96">
                                        <img src="{{skillContent.logo_url}}">
                                    </figure>
                                    <div class="skill-bar-container">
                                        <div class="skill-bar" *ngFor="let number of [].constructor(5); let k=index;">
                                            <div *ngIf="k < skillContent.level" class="filled"></div>
                                            <div *ngIf="k >= skillContent.level" class="empty"></div>
                                        </div>
                                    </div>
                                    <p style="margin-top: 15px; font-family: Roboto; font-size: 16px;">{{skillContent.title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>