@import "../../../bulmaStyles.scss";

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card-container {
    position: relative;
}

.card-container:hover .overlay {
    height: 100%;
}

.project-title {
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 20px;
    color: $primary-color;
}