<div class="page-container">
    <img src="../../../assets/images/cover.jpg" style="max-width: 100%; height: auto;">
    <div class="section-header">
        <h1 class="section-title">ABOUT</h1>
    </div>
    <div class="content page-content">
        <div class="blockquote">
            Passionate about Matematical, Data Structure and Algorithmic Problem Solving, and Optimizing the solution at its best.
        </div>
        <p class="text">
            Mathematics has fascinated me since my childhood. As I grew up, I started mathematical problem solving and became quite good at it. I started Competitive Programming when I was a B.Sc 1st-year student. I participated in ACM ICPC, Google CodeJam in the past and solved problems on various online judges. This helped me to build up a solid base in theoretical mathematics and computer programming.
        </p>
        <p class="text">
            I was introduced to Game Development when I was in B.Sc second year. This is the first sector where I tried to incorporate my mathematical and programming skills. I've made quite a few Mobile and WebGL games using Unity Game Engine. You can find some in the project section. I also did freelancing as a game developer in Upwork and Freelancer with the successful completion of three projects. It was actually an experiment and the verdict was positive.
        </p>
        <p class="text">
            At the end of the third year, I took a part-time job as a Full-stack web developer in one of my university Senior's personal projects who is currently the manager of GulfNet Co. Ltd. in Tokyo, Japan. Here I've worked with Angular, Express, MySQL, NodeJs, Ionic, TypeORM, and Bootstrap. I was involved with this for almost two years and I've learned a lot.
        </p>
        <p class="text">
            In the last year of my B.Sc, I've worked with designing maze exploration and solving algorithms and object detection with Machine Learning algorithms for my B.Sc final year project/thesis.
        </p>
        <p class="text">
            I participated in many competitions, and olympiads in the past. I took many programming sessions as an instructor on behalf of BdOSN, US-Embassy Dhaka, and Arduino Community Bangladesh. These activities enabled me to acquire strong leadership, project management, networking, and communication skills. Besides all of these, sometimes I write mathematical and tech articles on my blog (www.niazbinsiraj.com).
        </p>
        <div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <p class="text">
                What I love besides my proffesional work:
            </p>
            <div style="font-family: Roboto; font-size: 23px;">
                <span class="icon-text" style="margin-left: 10px;">
                    <span class="icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">flight</mat-icon>
                    </span>
                    <span>Travel</span>
                </span>
                <span class="icon-text" style="margin-left: 10px;">
                    <span class="icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">local_dining</mat-icon>
                    </span>
                    <span>Food</span>
                </span>
                <span class="icon-text" style="margin-left: 10px;">
                    <span class="icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">auto_stories</mat-icon>
                    </span>
                    <span>Book</span>
                </span>
                <span class="icon-text" style="margin-left: 10px;">
                    <span class="icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">sports_cricket</mat-icon>
                    </span>
                    <span>Cricket</span>
                </span>
                <span class="icon-text" style="margin-left: 10px;">
                    <span class="icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">sports_esports</mat-icon>
                    </span>
                    <span>Game</span>
                </span>
            </div>
        </div>
    </div>
</div>