<div class="page-container">
    <div class="section-header">
        <h1 class="section-title">
            EDUCATION
        </h1>
    </div>

    <div class="content page-content">
        <div class="card" style="margin-top: 40px; border-radius: 0px;">
            <header class="card-header level is-mobile">
                <div class="level-left" style="margin-left: 20px;">
                    <div class="level-item card-title">
                        B.Sc in Computer Science and Engineering
                    </div>
                </div>
                <div class="level-right" style="margin-right: 50px;">
                    <div class="level-item in-desktop">
                        <b style="font-family: Roboto;">
                            2017 - 2022
                        </b>
                    </div>
                </div>
            </header>
            <div class="card-content">
                <div class="content">
                    <div class="columns">
                        <div class="column is-one-third flex-column-center">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="../../../assets/images/education/ru.png">
                              </figure>
                        </div>
                        <div class="column education-description">
                            <h1 class="title">University of Rajshahi</h1>
                            <h4 class="subtitle">Rajshahi, Bangladesh</h4>
                            <p><b>Session:</b> 2016-17</p>
                            <p><b>Graduation Year:</b> 2022</p>
                            <p><b>CGPA:</b> 3.2/4.0 (Average upto 3rd Year)</p>
                            <p><b>Academic Coursework:</b> Algorithm, Data Structure, Operating System, Networking, Computer Architecture, Machine Learning, Artificial Intelligence</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="level">
                    <div class="level-left" style="margin-left: 5px;">
                        <div class="card-footer-item level-item">
                            <a href="http://ru.ac.bd">www.ru.ac.bd</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>