@import "../../../bulmaStyles.scss";

.education-description p{
    margin-bottom: 3px !important;
}

.content h4{
    margin-top: 1px !important;
    font-weight: 100;
}

.in-desktop{
    display: block;
}

//In PC+Tablet
@media screen and (max-width: $breakpoint-mobile) {
    .in-desktop {
        display: none !important;
    }
}