<div class="page-container">
    <div class="section-header">
        <h1 class="section-title">
            CONTACT
        </h1>
    </div>
    <div class="content page-content">
        <div class="box contact-bg">
            <p>Got a question or a job to offer? Feel free to knock. I'd love to hear from you. Send me a message and I'll respond as soon as possible.</p>
            <p>Phone: +8801755931751</p>
            <p>Email: niazbinsiraj@gmail.com</p>
            <div class="social-media-container">
                <a href="https://facebook.com/NiazBinSiraj" target="_blank"><i class="fa-brands fa-facebook-square"></i></a>
                <a href="https://twitter.com/NiazBinSiraj" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
                <a href="https://linkedin.com/in/NiazBinSiraj" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/NiazBinSiraj" target="_blank"><i class="fa-brands fa-github-square"></i></a>
            </div>
        </div>
    </div>
</div>